@model IEnumerable<BLL.DomainModel.Entities.FileEntity>

<div class="">
    <table class="">
        @Html.Partial("MyFiles/Table/Header", Model)
        @Html.Partial("MyFiles/Table/Body", Model)
    </table>
</div>
