<nav>
    <ul id="menu">
        <li>@Html.ActionLink("Load Files", "", "")</li>
        <li>@Html.ActionLink("My Files", "", "")</li>
        <li>@Html.ActionLink("Public Files", "", "")</li>
        <li>@Html.ActionLink("About", "", "")</li>
    </ul>
</nav>
