<nav>
    <ul id="menu">
        <li>@Html.ActionLink("Log in", "Login", "Account")</li>
        <li>@Html.ActionLink("Public Files", "", "")</li>
        <li>@Html.ActionLink("About", "", "")</li>
    </ul>
</nav>