<nav class="css-nav">
    <ul id="menu">
        <li>@Html.ActionLink("All Users", "FindAllUsers", "Admin")</li>
        <li>@Html.ActionLink("All Files", "FindAllFiles", "File")</li>
    </ul>
</nav>
