<nav>
    <ul id="menu">
        <li>@Html.ActionLink("Load Files", "LoadFiles", "File")</li>
        <li>@Html.ActionLink("My Files", "GetMyFiles", "File")</li>
        <li>@Html.ActionLink("Public Files", "GetPublicFiles", "File")</li>
        <li>@Html.ActionLink("About", "About", "Home")</li>
    </ul>
</nav>
