<header>
    <div class="css-title">
        <a href="@Url.Content("~/Home/About")">Company
            <span>The web site!!!</span>
        </a>
    </div>
    @RenderPage(string.Format("Navigation\\Navigation_{0}.cshtml", Roles.GetRolesForUser(User.Identity.Name).FirstOrDefault() ?? "Anonym"))
</header>
