@model IEnumerable<BLL.DomainModel.Entities.FileEntity>

@{
    ViewBag.Title = "GetMyFiles";
}
@RenderPage("Search.cshtml")
<h2>My Files</h2>
<div class="js-table">
    @Html.Partial("MyFiles/Table/Table")
</div>
@section Scripts {
    <script src="@Url.Content("~/Scripts/myFiles.js")"></script>
}
