@model IEnumerable<BLL.DomainModel.Entities.FileEntity>

@{
    ViewBag.Title = "GetPublicFiles";
}

@RenderPage("Search.cshtml")
<h2>Public Files</h2>
<div class="js-table">
    @Html.Partial("PublicFiles/Table/Table")
</div>
@section Scripts {
    <script src="@Url.Content("~/Scripts/application/publicFiles.js")"></script>
    @Scripts.Render("~/bundles/file");
}
