<div class="css-search-form">
    <label for="stringForSearch">Search</label>
    <div class="css-search-input-field">
        <input id="stringForSearch" name="stringForSearch" class="css-search-input" type="text" size="30" />
    </div>
    <button class="js-search-button css-search-button" onclick="">Go</button>
</div>
